@model IEnumerable<home_sa.Models.JobReply>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.jobId)</th>
            <th>@Html.DisplayNameFor(model => model.userId)</th>
            <th>Job Title</th>
            <th>Job Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.jobId)</td>
                <td>@Html.DisplayFor(modelItem => item.userId)</td>
                <td>@Html.DisplayFor(modelItem => item.JobOpportunity.jobTitle)</td>
                <td>@Html.DisplayFor(modelItem => item.JobOpportunity.jobDescription)</td>
                <td>
                    <a asp-action="Download" asp-route-replyId="@item.replyId">Dowload Doc</a> |
                    <a asp-action="Edit" asp-route-id="@item.replyId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.replyId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
